html {
  font-family: 'Lilita One', cursive;
  background-color: #8f974c;
}

.home {
  background-image: url("../images/cat-3.jpg");
}

.section-dark {
  background-color: #8f974c;
  color: #fff;
}

.section-light {
  background-color: #fafafa;
  color: #222;
}

.section-bg {
  background-size: cover;
}

.btn:not(.btn-ghost) {
  background-color: #8d483b;
  border-color: #8d483b;
}

.btn:not(.btn-ghost):hover {
  background-color: #e88681;
}

.btn-ghost:hover {
  background-color: rgba(180, 220, 255, .5);
}
