html {
  font-family: "Muli", sans-serif;
  background-color: #8f974c;
}

p {
  color: #606723;
}

.logo {
  width: 64px;
}

.masthead {
  background-color: #bdcb46;
}

.animal {
  color: #fff;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

li a:hover {
  border-radius: 10px;
  border-width: 4px;
  border-color: #8f974c;
  border-style: solid;
}

.btn {
  border-radius: 6px;
  border-width: 4px;
  border-color: #8f974c;
  border-style: solid;
  color: #000;
  text-decoration: none;
}

.btn:hover {
  background-color: #fff;
  border-radius: 10px;
  border-width: 4px;
  border-color: #8f974c;
  border-style: solid;
}

footer {
  color: #bdcb46;
}
